.header-navbar {
    padding: 0px 30px;
}

.main-content {
    min-height: calc(100vh - 70px - 60px);
}
.films {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
















